# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Model files
*.pkl

# Virtual environment
venv/
env/

# Logs
*.log

# Python cache
*.cache

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Environment variables
.env

# Build directories
build/
dist/
Archived/

# Test coverage reports
.coverage
*.cover
htmlcov/