# command: pip install -r requirements.txt
# Core dependencies
#lightweight_mmm==0.1.9              # Exact version
#Jinja2==3.1.4
ml-dtypes==0.4.1
seaborn==0.11.1
scipy==1.12.0
numpy==1.26.0
pyarrow==14.0.0
jax==0.4.18
jaxlib==0.4.18
numpyro==0.11.0
PuLP==2.9.0 # PuLP is an LP modeler written in python. PuLP can generate MPS or LP files and call GLPK, COIN CLP/CBC, CPLEX, and GUROBI to solve linear problems.
nltk=3.9.1
wordcloud=1.9.4
streamlit=1.42.0